{% extends 'base.html.twig' %}

{% block title %}
    Détail | {{ parent() }}
{% endblock %}

{% block body %}

    <h2>{{ wish.title }}</h2>
    <p>{{ wish.description }}</p>
    <p>Auteur : {{ wish.author }}</p>
    <p>Publié : {{ wish.published ? 'Oui' : 'Non' }}</p>
    <p>Date de création : {{ wish.dateCreated | date('d/m/Y') }}</p>

{% endblock %}

