<!--HEADER-->
<header id="header" style="background-color: #fff;"
        data-uk-sticky="show-on-up: true; animation: uk-animation-fade; media: @l">
    <div class="uk-container">
        <nav id="navbar" data-uk-navbar="mode: click;">
            <div class="uk-navbar-center nav-overlay">
                <a class="uk-navbar-item uk-logo" href="{{ path('main_home') }}" title="Go back to homepage">
                    <img src="{{ asset('img/logo.png') }}">
                </a>
            </div>
        </nav>
    </div>
</header>

<!-- NAVIGATION -->
<div class="uk-container">
    <nav class="nav-scroll">
        <ul class="uk-subnav uk-flex uk-flex-between uk-flex-nowrap">
            <li><a href="{{ path('main_home') }}">Home</a></li>
            <li><a href="{{ path('wish_list') }}">All wishes</a></li>
            <li><a href="{{ path('wish_create') }}">Create wish</a></li>
            <li><a href="{{ path('main_aboutus') }}">About Us</a></li>
        </ul>
    </nav>
</div>
<!-- /NAVIGATION -->