<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bucket-list{% endblock %}</title>
    <link rel="icon" href="{{ asset("img/favicon.png") }}">
    <link rel="stylesheet" href="{{ asset('vendor/uikit/css/uikit.min.css') }}">
    {% block stylesheets %}

    {% endblock %}
    {#  UIKIT JS #}
    <script src="{{ asset('vendor/uikit/js/uikit.js') }}"></script>
    <script src="{{ asset('vendor/uikit/js/uikit-icons.js') }}"></script>
    {#  ./UIKIT JS #}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}

    {% endblock %}
</head>
<body class="d-flex flex-column">
{# entête du site #}

<!--HEADER-->
<header id="header" style="background-color: #fff;"
        data-uk-sticky="show-on-up: true; animation: uk-animation-fade; media: @l">
    <div class="uk-container">
        <nav id="navbar" data-uk-navbar="mode: click;">
            <div class="uk-navbar-center nav-overlay">
                <a class="uk-navbar-item uk-logo" href="{{ path('main_home') }}" title="Go back to homepage">
                    <img src="{{ asset('img/logo.png') }}">
                </a>
            </div>
        </nav>
    </div>
</header>
<!--/HEADER-->
{% include('_navbar.html.twig') %}


{# contenu principal de chaque page #}
<main class="uk-height-viewport">
    <div class="uk-section uk-section-default">
        <div class="uk-container">

            {#  Pour chaque type de message temporaire (ex: [success, [messages]] #}
            {% for label, messages in app.flashes %}
                {#  Pour chaque message j'affiche une alert. ex: [Virement effectué, Connecté] #}
                {% for message in messages %}
                    <div class="uk-alert-{{ label }}" uk-alert>
                        <a href class="uk-alert-close" uk-close></a>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
            
            {% block body %}{% endblock %}
        </div>
    </div>
</main>
{# pied-de-page du site #}
<!--FOOTER-->
<footer class="uk-section-secondary">
    <div class="uk-section uk-section-xsmall" style="background-color: rgba(0,0,0,0.15)">
        <div class="uk-container">
            <div class="uk-grid uk-child-width-1-2@s uk-text-center uk-text-left@s" data-uk-grid>
                <div class="uk-text-small uk-text-muted">
                    &copy; Bucket-List {{ "now"|date("Y") }}
                </div>
                <div class="uk-text-small uk-text-muted uk-text-center uk-text-right@s">
                    <a href="https://github.com/zzseba78/Kick-Off">Created by KickOff</a> | Built with <a
                            href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span
                                data-uk-icon="uikit"></span></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/FOOTER-->

</body>
</html>
