<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bucket-list{% endblock %}</title>
    <link rel="icon" href="{{ asset("img/favicon.png") }}">
    <link rel="stylesheet" href="{{ asset('vendor/uikit/css/uikit.min.css') }}">
    {% block stylesheets %}

    {% endblock %}
    {#  UIKIT JS #}
    <script src="{{ asset('vendor/uikit/js/uikit.js') }}"></script>
    <script src="{{ asset('vendor/uikit/js/uikit-icons.js') }}"></script>
    {#  ./UIKIT JS #}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}

    {% endblock %}
</head>
<body>
{# entête du site #}

<!--/HEADER-->
{% include('_navbar.html.twig') %}

{# contenu principal de chaque page #}
<main class="uk-height-viewport">
    <div class="uk-section uk-section-default">
        <div class="uk-container">

            {% include('_flash-messages.html.twig') %}

            {% block body %}{% endblock %}
        </div>
    </div>
</main>
{# pied-de-page du site #}
{% include('_footer.html.twig') %}

</body>
</html>
